<section class="search">
    <form ng-submit="vm.searchSerie()">
        <div class="search-input">
            <img src="/img/search.png">
            <input class="input-search" type="text" name="search" ng-model="vm.search" placeholder="Search for a movie, series and videos">
        </div>
    </form>
</section>

<section class="main-section">
    <div class="clear">&nbsp;</div>
    <h6>Discover new films and TV Shows</h6>
    <div class="clear">&nbsp;</div>

    <section class="filter-section">
        <div class="block-params">
            <label>Año</label>
            <div class="select-anio">
                <select id="year" name="year" ng-model="vm.params.year" ng-change="vm.discoverSeries()">
                        <option ng-repeat="n in vm.years" value="{{n}}">{{n}}</option>
                </select>
            </div>

        </div>
        <div class="block-params">
            <label>Género</label>
            <div class="select-genre">
                <select id="genre" name="genre" ng-model="vm.params.genre" ng-change="vm.discoverSeries()">
                    <option ng-repeat="genre in vm.genres" value="{{genre.id}}">{{genre.name}}</option>
            </select>
            </div>
        </div>

    </section>
    <div class="clear">&nbsp;</div>

    <section class="digital-section">
        <div class="digital-content">
            <div ng-repeat="serie in vm.series" class="poster-lists">
                <serie serie="serie" genres="vm.genres"></serie>
            </div>
        </div>
    </section>
</section>
