<section class="posters-container">
    <section>
        <div class="block-params">
            <label>Year</label>
            <select id="year" name="year" ng-model="vm.params.year" ng-change="vm.discoverSeries()">
                    <option ng-repeat="n in vm.years" value="{{n}}">{{n}}</option>
                  </select>
        </div>
        <div class="block-params">
            <label>Order by</label>
            <select id="sort_by" name="sort_by" ng-model="vm.params.sort_by" ng-change="vm.discoverSeries()">
                    <option value="popularity.asc">Popularity - Ascendant</option>
                    <option value="popularity.desc">Popularity - Descendant</option>
                    <option value="first_air_date.asc">First air date - Ascendant</option>
                    <option value="first_air_date.desc">Firs air date - Descendant</option>
                    <option value="vote_average.asc">Vote average - Ascendant</option>
                    <option value="vote_average.desc">Vote average - Descendant</option>
                  </select>
        </div>
        <div class="block-params">
            <label>Genres</label>
            <select id="genre" name="genre" ng-model="vm.params.genre" ng-change="vm.discoverSeries()">
                    <option ng-repeat="genre in vm.genres" value="{{genre.id}}">{{genre.name}}</option>
                  </select>
        </div>
        <div class="block-params">
            <label>Search...</label>
            <input class="input-search" type="text" name="search" ng-model="vm.search"><button type="button" class="btn-search" ng-click="vm.searchSerie()" ng-disabled="!vm.search"></button>
        </div>
    </section>
    <section>
        <div ng-repeat="serie in vm.series" class="poster-lists">
            <a ng-click="vm.openTrailer(serie)">
                <img src="{{vm.imgConf.base_url + '/' + vm.imgConf.poster_sizes[2] + '/' + serie.poster_path}}" alt="{{serie.title}}" />
            </a>
        </div>
    </section>
</section>
